@media only screen and (min-width: 1200px) and (max-width: 1460px)
{
	.vmoney-vindex {
		
	}
	.home {
		&-chart {

		}
		&-vlive {

		}
		&-trendup {

		}
		&-vface {

		}
		&-vlight {

		}
		&-vbank {
			
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
	.vmoney-vface {
		&__content {
			&-vmoney {
				width: calc(100% - 280px - 30px);
				&--lists {
					.single-blog {
						.item-blog {
							&__image {
								.image {
									height: 390px;
								}
							}
							&__info {
								&-other {
									margin-top: 6px;
								}
							}
						}
					}
					.multi-blog {
						.item-blog {
							width: calc((100% - 30px)/2);
							&:nth-child(3n+2) {
								margin-left: unset;
								margin-right: unset;
							}
							&:nth-child(2n+2) {
								margin-left: 30px;
							}
							&__image {
								.image {
									// height: 120px;
								}
							}
							&__info {
								&-name {

								}
								&-other {
									margin-top: 6px;
									.category {
										font-size: 14px;
									}
									.created-at {
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
			&-vface {
				width: 280px;
			}
		}
	}
	.home {
		&-chart {
			margin-top: 12px;
			&__content {
				display: flex;
			    clear: both;
			    white-space: nowrap;
			    overflow: hidden;
			    overflow-x: scroll !important;
			    -webkit-overflow-scrolling: touch;
			    -ms-scroll-chaining: chained;
			    flex-wrap: nowrap;
			    &::-webkit-scrollbar {
			    	display: none;
			    }
				.item-chart {
					width: 235px;
				}
			}
		}
		&-vlive {
			&__content {
				.single-blog {
					width: calc(100% - 300px - 30px);
					.item-blog {
						&__image {
							.image {
								height: 330px;
							}
						}
					}
				}
				.multi-blog {
					width: 300px;
					.item-blog {
						&__image {
							.image {
								height: 190px;
							}
						}
					}
				}
			}
		}
		&-trendup {

		}
		&-vstock {
			&__content {
				margin-top: 20px;
				&-main {
					width: calc(100% - 220px - 30px);
					&--single {
						width: calc(100% - 220px - 30px);
						.item-blog {
							&__image {
								.image {
									height: 270px;
								}
							}
						}
					}
					&--multi {
						width: 220px;
						.item-blog {
							&__image {
								.image {
									height: 140px;
								}
							}
						}
					}
				}
				&-chart {
					width: 220px;
				}
			}
		}
		&-vbank {
			&__content {
				&-main {
					width: calc(100% - 220px - 30px);
					&--lists {
						.single-blog {
							width: calc(100% - 220px - 30px);
							.item-blog {
								&__image {
									.image {
										height: 279px;
									}
								}
							}
						}
						.multi-blog {
							width: 220px;
							.item-blog {
								margin-bottom: 12px!important;
								padding-bottom: 12px!important;
								&__info {
									&-name {
										.name {
											text-align: left!important;
										}
									}
								}
							}
						}
					}
				}
				&-ads {
					width: 220px;
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	.vmoney-vface {
		&__content {
			&-vmoney {
				width: 100%;
				margin-right: unset;
			}
			&-vface {
				width: 100%;
				&--ads {
					display: none;
				}
			}
		}
	}
	.home {
		&-chart {
			margin-top: 12px;
			&__content {
				display: flex;
			    clear: both;
			    white-space: nowrap;
			    overflow: hidden;
			    overflow-x: scroll !important;
			    -webkit-overflow-scrolling: touch;
			    -ms-scroll-chaining: chained;
			    flex-wrap: nowrap;
			    &::-webkit-scrollbar {
			    	display: none;
			    }
				.item-chart {
					width: 235px;
				}
			}
		}
		&-vlive {
			&__content {
				.single-blog {
					width: 100%;
					margin-right: unset;
				}
				.multi-blog {
					width: 100%;
					margin-left: unset;
					display: flex;
					flex-wrap: wrap;
					.item-blog {
						width: calc((100% - 40px)/3);
						&:nth-child(3n+2) {
							margin-left: 20px;
							margin-right: 20px;
						}
						&__image {
							.image {
								height: 160px;
							}
						}
						&:first-child {
							margin-top: 8px;
						}
					}
				}
			}
		}
		&-trendup {

		}
		&-vstock {
			&__content {
				&-main {
					width: 100%;
					margin-right: unset;
					&--single {
						width: 100%;
						margin-right: unset;
					}
					&--multi {
						width: 100%;
						.item-blog {
							width: calc((100% - 40px)/3);
							margin-top: 8px;
							&:nth-child(3n+2) {
								margin-left: 20px;
								margin-right: 20px;
							}
							&__image {
								.image {
									height: 160px;
								}
							}
						}
					}
				}
				&-chart {
					width: 100%;
					margin-top: 20px;
				}
			}
		}
		&-vbank {
			&__content {
				&-main {
					width: 100%;
					margin-right: unset;
					&--lists {
						.single-blog {
							width: calc(100% - 220px - 30px);
							.item-blog {
								&__image {
									.image {
										height: 279px;
									}
								}
							}
						}
						.multi-blog {
							width: 220px;
							.item-blog {
								margin-bottom: 12px!important;
								padding-bottom: 12px!important;
								&__info {
									&-name {
										.name {
											text-align: left!important;
										}
									}
								}
							}
						}
					}
				}
				&-ads {
					display: none;
					width: 100%;
				}
			}
		}
	}
}	
@media only screen and (min-width: 0px) and (max-width: 767px) 
{
	.vmoney-vface {
		&__content {
			margin-top: 12px;
			padding-top: 12px;
			&-vmoney {
				width: 100%;
				margin-right: unset;
				&--title {
					border-radius: 0 0 0 10px;
    				border-bottom: 1px solid #013662;
					.title-general {
						.title {
							background: $color_main;
						}
						.list-cate {
							display: none;
						}
					}
				}
				&--lists {
					margin-top: 16px;
					.single-blog {
						width: 100%;
						.item-blog {
							background: #fff;
							box-shadow: 0px 4px 8px 0 rgba(141, 160, 208, 0.16);
							&__image {
								.image {
									height: 202px;
								}
							}
							&__info {
								position: relative;
								background: none;
								padding: 10px 16px;
								&-name {
									.name {
										font-size: 16px;
										line-height: 24px;
										color: rgba(1, 54, 98, 1);
									}
								}
								&-other {
									margin-top: 8px;
									.category {
										a {
											font-size: 12px;
											color: rgba(0, 0, 0, 1);
										}
									}
									.created-at {
										span {
											font-size: 12px;
										}
									}
								}
							}
						}
					}
					.multi-blog {
						margin-top: 10px;
						.item-blog {
							width: 100%;
							display: flex;
							flex-wrap: wrap;
							border-bottom: 1px solid rgba(226, 232, 240, 1);
							padding-bottom: 8px;
							margin-bottom: 8px;
							&__image {
								width: 120px;
								order: 1;
								.image {
									height: 68px;
								}
							}
							&__info {
								width: calc(100% - 120px);
								order: 2;
								margin-top: unset;
								padding-left: 5px;
								&-name {
									.name {
										font-size: 14px;
										line-height: 20px;
									}
								}
								&-other {
									margin-top: 8px;
									.category {
										a {
											font-size: 12px;
											color: rgba(0, 0, 0, 1);
										}
									}
									.created-at {
										span {
											font-size: 12px;
										}
									}
								}
							}
							&:nth-child(3n+2) {
								margin-right: unset;
								margin-left: unset;
							}
						}
					}
				}
			}
			&-vface {
				width: 100%;
				margin-top: 20px;
				&--lists {
					margin-top: 12px;
					.vface-lists {
						.item-vface {
							&__image {
								.image {

								}
							}
						}
					}
				}
				&--ads {
					display: none;
				}
			}
		}
	}
	.home {
		&-chart {
			margin-top: 12px;
			&__content {
				display: flex;
			    clear: both;
			    white-space: nowrap;
			    overflow: hidden;
			    overflow-x: scroll !important;
			    -webkit-overflow-scrolling: touch;
			    -ms-scroll-chaining: chained;
			    flex-wrap: nowrap;
			    &::-webkit-scrollbar {
			    	display: none;
			    }
				.item-chart {
					width: 235px;
				}
			}
		}
		&-vlive {
			margin-top: 12px;
			&__content {
				.single-blog {
					width: 100%;
					.item-blog {
						box-shadow: 0px 4px 8px 0 rgba(141, 160, 208, 0.16);
						&__image {
							.image {
								height: 202px;
							}
						}
						&__info {
							padding: 8px 16px;
							&-sticker {
								margin-bottom: 8px;
							}
							&-name {
								.name {
									font-size: 16px;
									line-height: 24px;
								}
							}
							&-desc {
								display: none;
							}
							&-number {
								margin-top: 8px;
								span {
									font-size: 12px;
									line-height: 16px;
								}
							}
						}
					}
				}
				.multi-blog {
					width: 100%;
					margin-left: unset;
					margin-top: 15px;
					display: flex;
			        clear: both;
			        white-space: nowrap;
			        overflow: hidden;
			        overflow-x: scroll !important;
			        -webkit-overflow-scrolling: touch;
			        -ms-scroll-chaining: chained;
			        flex-wrap: nowrap;
			        &::-webkit-scrollbar {
				    	display: none;
				    }
					.item-blog {
						width: 200px;
						float: left;
						margin-top: unset;
						margin-left: 10px;
						&__image {
							width: 200px;
							.image {
								height: 98px;
							}
						}
						&__info {
							position: relative;
							background: none;
							padding: 8px 0;
							&-name {
								white-space: normal;
								.name {
									color: rgba(0, 0, 0, 1);
									font-size: 12px;
									line-height: 16px;
									display: -webkit-box;
								    -webkit-box-orient: vertical;
								    -webkit-line-clamp: 2;
								    overflow: hidden;
								}
							}
						}
						&:first-child {
							margin-left: unset;
						}
					}
				}
			}
		}
		&-trendup {
			&__content {
				margin-top: 12px;
				padding-top: 12px;
				&-lists {
					.trendup-slides {
						padding-right: 8px;
						.owl-stage-outer {
							.owl-stage {
								.owl-item {
									position: relative;
									top: 10px;
								}
							}
						}
						.owl-nav {
							.owl-prev,.owl-next {
								top: 6px;
							}
						}
					}
					
				}
			}
		}
		&-vstock {
			&__title {

			}
			&__content {
				margin-top: 12px;
				&-main {
					width: 100%;
					margin-right: unset;
					&--single {
						width: 100%;
						margin-right: unset;
						.item-blog {
							box-shadow: 0px 4px 8px 0 rgba(141, 160, 208, 0.16);
							&__image {
								.image {
									height: 202px;
								}
							}
							&__info {
								padding: 8px 16px;
								&-name {
									.name {
										font-size: 16px;
										line-height: 24px;
									}
								}
								&-desc {
									margin-top: 8px;
									p {
										font-size: 14px;
										line-height: 20px;
									}
								}
							}
						}
					}
					&--multi {
						margin-top: 12px;
						width: 100%;
				        clear: both;
				        white-space: nowrap;
				        overflow: hidden;
				        overflow-x: scroll !important;
				        -webkit-overflow-scrolling: touch;
				        -ms-scroll-chaining: chained;
				        flex-wrap: nowrap;
				        &::-webkit-scrollbar {
					    	display: none;
					    }
						.item-blog {
							width: 200px;
							float: left;
							margin-top: unset;
							margin-left: 10px;
							overflow: unset;
							&__image {
								width: 200px;
								.image {
									height: 98px;
									border-radius: 4px;
									overflow: hidden;
								}
							}
							&__info {
								position: relative;
								background: none;
								padding: 8px 0;
								&-name {
									white-space: normal;
									.name {
										color: rgba(0, 0, 0, 1);
										font-size: 12px;
										line-height: 16px;
										display: -webkit-box;
									    -webkit-box-orient: vertical;
									    -webkit-line-clamp: 2;
									    overflow: hidden;
									}
								}
							}
							&:first-child {
								margin-left: unset;
							}
						}
					}
				}
				&-chart {
					width: 100%;
				}
			}
		}
		&-vbank {
			&__content {
				&-main {
					width: 100%;
					margin-right: unset;
					&--lists {
						.single-blog {
							width: 100%;
							.item-blog {
								background: #fff;
								box-shadow: 0px 4px 8px 0 rgba(141, 160, 208, 0.16);
								&__image {
									.image {
										height: 202px;
									}
								}
								&__info {
									position: relative;
									background: none;
									padding: 10px 16px;
									&-name {
										.name {
											font-size: 16px;
											line-height: 24px;
											color: rgba(1, 54, 98, 1);
										}
									}
									&-other {
										display: flex;
										margin-top: 8px;
										.category {
											a {
												font-size: 12px;
												color: rgba(0, 0, 0, 1);
											}
										}
										.created-at {
											span {
												font-size: 12px;
											}
										}
									}
								}
							}
						}
						.multi-blog {
							width: 100%;
							margin-left: unset;
							margin-top: 20px;
							.item-blog {
								width: 100%;
								display: flex;
								flex-wrap: wrap;
								border-bottom: 1px solid rgba(226, 232, 240, 1);
								padding-bottom: 8px;
								margin-bottom: 8px;
								&__image {
									display: block!important;
									width: 120px;
									order: 1;
									.image {
										height: 68px;
										border-radius: 3px;
										overflow: hidden;
									}
								}
								&__info {
									width: calc(100% - 120px);
									order: 2;
									margin-top: unset;
									padding-left: 5px;
									&-name {
										.name {
											font-size: 14px!important;
											line-height: 20px!important;
										}
									}
									&-other {
										display: flex!important;
										margin-top: 8px;
										.category {
											a {
												font-size: 12px;
												color: rgba(0, 0, 0, 1);
											}
										}
										.created-at {
											span {
												font-size: 12px;
											}
										}
									}
								}
								&:nth-child(3n+2) {
									margin-right: unset;
									margin-left: unset;
								}
							}
						}
					}
				}
				&-ads {
					width: 100%;
					display: none;
					margin-top: 30px;
				}
			}
		}
	}
}