@media only screen and (min-width: 1200px) and (max-width: 1460px)
{
	.vdetail {
		&-content {
			&__main {
				// width: 100%;
				// margin-right: unset;
				&-detail {
					&--head {
						.name-blog {
							&__title {
								font-size: 30px;
								line-height: 36px;
							}
						}
					}
				}
				&-action {
					.share-blog {
						width: 100%;
					}
					.tag-blog {
						width: 100%;
						margin-top: 20px;
					}
				}
				&-comment {

				}
				&-relate {
					&--title {

					}
					&--lists {
						.single-blog {
							width: calc(100% - 20px - 250px);
						}
						.multi-blog {
							width: 250px;
							margin-left: 20px;
						}
					}
				}
			}
			&__sitebar {
				// width: 100%;
				// margin-top: 20px;
			}
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
	.vdetail {
		&-content {
			&__main {
				width: calc(100% - 20px - 250px);
				margin-right: 20px;
				&-detail {
					&--head {
						.name-blog {
							&__title {
								font-size: 26px;
								line-height: 36px;
							}
						}
					}
				}
				&-action {
					.share-blog {
						width: 100%;
					}
					.tag-blog {
						width: 100%;
						margin-top: 20px;
					}
				}
				&-comment {

				}
				&-relate {
					&--title {

					}
					&--lists {
						.single-blog {
							width: 100%;
						}
						.multi-blog {
							width: 100%;
							margin-left: unset;
							display: flex;
							flex-wrap: wrap;
							.item-blog {
								width: calc((100% - 40px)/3);
								margin-top: 10px;
								&:nth-child(3n+2) {
									margin-right: 20px;
									margin-left: 20px;
								}
								&:first-child {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
			&__sitebar {
				width: 250px;
				.interested-new {
					&__lists {
						.item-blog {
							&__info {
								&-name {
									.name {
										text-align: unset;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	.vdetail {
		&-content {
			&__main {
				width: 100%;
				margin-right: unset;
				&-detail {
					&--head {
						.name-blog {
							&__title {
								font-size: 28px;
								line-height: 36px;
							}
						}
					}
				}
				&-action {
					.share-blog {
						width: 100%;
					}
					.tag-blog {
						width: 100%;
						margin-top: 20px;
					}
				}
				&-comment {

				}
				&-relate {
					&--title {

					}
					&--lists {
						.single-blog {
							width: 100%;
						}
						.multi-blog {
							width: 100%;
							margin-left: unset;
							display: flex;
							flex-wrap: wrap;
							.item-blog {
								width: calc((100% - 40px)/3);
								margin-top: 10px;
								&:nth-child(3n+2) {
									margin-right: 20px;
									margin-left: 20px;
								}
								&:first-child {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
			&__sitebar {
				width: 100%;
				margin-top: 20px;
				.ads-banner {
					display: flex;
				    clear: both;
				    white-space: nowrap;
				    overflow: hidden;
				    overflow-x: scroll !important;
				    -webkit-overflow-scrolling: touch;
				    -ms-scroll-chaining: chained;
				    flex-wrap: nowrap;
				    &::-webkit-scrollbar {
				    	display: none;
				    }
					&__item {
						width: 350px;
						margin-right: 10px;
						img {
							width: 350px;
							max-width: 350px;
						}
						&:last-child {
							margin-right: unset;
						}
					}
				}
				.interested-new {
					&__lists {
						.item-blog {
							&__image {
								width: 200px;
								.image {
									height: 125px;
								}
							}
							&__info {
								width: calc(100% - 200px - 16px);
								&-name {
									.name {
										font-size: 16px;
										line-height: 24px;
									}
								}
								&-other {
									.created-at {
										span {
											font-size: 14px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 0px) and (max-width: 767px) 
{
	.vdetail {
		margin-top: 20px;
		&-content {
			&__main {
				width: 100%;
				margin-right: unset;
				&-detail {
					margin-top: 15px;
					&--head {
						.name-blog {
							&__title {
								font-size: 20px;
								line-height: 30px;
							}
						}
					}
				}
				&-action {
					.share-blog {
						width: 100%;
					}
					.tag-blog {
						width: 100%;
						margin-top: 20px;
					}
				}
				&-comment {

				}
				&-relate {
					&--title {

					}
					&--lists {
						clear: both;
				        white-space: nowrap;
				        overflow: hidden;
				        overflow-x: scroll !important;
				        -webkit-overflow-scrolling: touch;
				        -ms-scroll-chaining: chained;
				        flex-wrap: nowrap;
				        overflow: auto;
				        &::-webkit-scrollbar {
					    	display: none;
					    }
						.single-blog {
							width: 236px;
        					margin-right: 10px;
        					background: none;
        					overflow: unset;
							.item-blog {
								width: 236px;
								&__image {
									.image {
										border-radius: 8px;
										overflow: hidden;
										height: 130px;
									}
								}
								&__info {
									background: none;
									padding: 8px 0;
									&-name {
										white-space: normal;
										.name {
											color: rgba(0, 0, 0, 1);
											font-size: 12px;
											line-height: 16px;
											display: -webkit-box;
										    -webkit-box-orient: vertical;
										    -webkit-line-clamp: 2;
										    overflow: hidden;
										}
									}
									&-desc {
										display: none;
									}
								}
							}
						}
						.multi-blog {
							width: 730px;
							margin-left: unset;
							display: flex;
					        clear: both;
					        white-space: nowrap;
					        flex-wrap: nowrap;
							.item-blog {
								width: 236px;
								margin-right: 10px;
								margin-top: unset;
								&:last-child {
									margin-right: unset;
								}
								&__image {
									.image {
										border-radius: 8px;
										height: 130px;
									}
								}
								&__info {
									background: none;
									padding: 8px 0;
									position: relative;
									&-name {
										white-space: normal;
										.name {
											color: rgba(0, 0, 0, 1);
											font-size: 12px;
											line-height: 16px;
											display: -webkit-box;
										    -webkit-box-orient: vertical;
										    -webkit-line-clamp: 2;
										    overflow: hidden;
										}
									}
								}
							}
						}
					}
				}
			}
			&__sitebar {
				width: 100%;
				margin-top: 20px;
				display: none;
				.ads-banner {
					display: flex;
				    clear: both;
				    white-space: nowrap;
				    overflow: hidden;
				    overflow-x: scroll !important;
				    -webkit-overflow-scrolling: touch;
				    -ms-scroll-chaining: chained;
				    flex-wrap: nowrap;
				    &::-webkit-scrollbar {
				    	display: none;
				    }
					&__item {
						width: 300px;
						margin-right: 10px;
						img {
							width: 300px;
							max-width: 300px;
						}
						&:last-child {
							margin-right: unset;
						}
					}
				}
			}
		}
	}
}