@media only screen and (min-width: 1200px) and (max-width: 1460px)
{

}
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
	.vlive {
		&-category {
			&__main {
				width: calc(100% - 20px - 280px);
				margin-right: 20px;
				.vlive-highlight {
					.item-live-highlight {
						width: calc((100% - 30px)/2);
						&__image {
							.image {
								height: 200px;
							}
						}
						&:nth-child(3n+2) {
							margin-right: unset;
							margin-left: unset;
						}
						&:nth-child(2n+2) {
							margin-left: 30px;
						}
					}
				}
				.vlive-event {
					.item-live-event {
						&__detail {
							.user-live {
								width: 100%;
							}
							.time-action {
								.time {
									width: 100%;
								}
							}
						}
					}
				}
				.vlive-replay {
					.item-live-replay {
						width: calc((100% - 30px)/2);
						&__image {
							.image {
								height: 200px;
							}
						}
						&__like,&__time {
							top: 163px;
						}
						&:nth-child(3n+2) {
							margin-right: unset;
							margin-left: unset;
						}
						&:nth-child(2n+2) {
							margin-left: 30px;
						}
					}
				}
			}
			&__sitebar {
				width: 280px;
			}
		}
		&-detail {
			&__content {
				&-detail {
					.video-live {
						width: 100%;
						margin-right: unset;
						&__show {

						}
						&__action {
							display: flex;
						}
						&__info {
							display: none;
							&-name {
								order: 2;
								margin-top: 12px;
								.name {
									font-size: 20px;
									line-height: 28px;
								}
							}
							&-live {
								order: 1;
								margin-top: 10px;
								.user-register {

								}
								.views-time {
									display: none;
								}
							}
							&-desc {
								order: 3;
								p {
									font-size: 14px;
									-webkit-line-clamp: unset;
								}
							}
						}
					}
					.chat-live {
						display: none;
						width: 100%;
						margin-top: 20px;
					}
				}
			}
			&__lists {
				display: none;
				&-main {
					width: 100%;
					margin-right: unset;
				}
				&-sitebar {
					width: 100%;
					display: none;
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	.vlive {
		&-category {
			&__main {
				width: 100%;
				margin-right: unset;
				.vlive-highlight {
					.item-live-highlight {
						width: calc((100% - 30px)/2);
						&__image {
							.image {
								height: 200px;
							}
						}
						&:nth-child(3n+2) {
							margin-right: unset;
							margin-left: unset;
						}
						&:nth-child(2n+2) {
							margin-right: 30px;
						}
						&:first-child {
							width: 100%;
							.item-live-highlight {
								&__image {
									.image {
										height: 365px;
									}
								}
								&__info {
									&-name {
										.name {
											font-size: 16px;
											line-height: 24px;
										}
									}
									&-other {
										display: none;
									}
									&-number {
										display: flex;
									}
								}
							}
						}
					}
				}
				.vlive-event {
					.item-live-event {
						&__detail {
							.user-live {
								width: 100%;
							}
							.time-action {
								.time {
									width: 100%;
								}
							}
						}
					}
				}
				.vlive-replay {
					.item-live-replay {
						width: calc((100% - 30px)/2);
						&__image {
							.image {
								height: 200px;
							}
						}
						&__like,&__time {
							top: 163px;
						}
						&:nth-child(3n+2) {
							margin-right: unset;
							margin-left: unset;
						}
						&:nth-child(2n+2) {
							margin-left: 30px;
						}
					}
				}
			}
			&__sitebar {
				width: 100%;
				margin-top: 30px;
				display: none;
			}
		}
		&-detail {
			&__content {
				&-detail {
					.video-live {
						width: 100%;
						margin-right: unset;
						&__show {

						}
						&__action {
							display: flex;
						}
						&__info {
							display: none;
							&-name {
								order: 2;
								margin-top: 12px;
								.name {
									font-size: 20px;
									line-height: 28px;
								}
							}
							&-live {
								order: 1;
								margin-top: 10px;
								.user-register {

								}
								.views-time {
									display: none;
								}
							}
							&-desc {
								order: 3;
								p {
									font-size: 14px;
									-webkit-line-clamp: unset;
								}
							}
						}
					}
					.chat-live {
						display: none;
						width: 100%;
						margin-top: 20px;
					}
				}
			}
			&__lists {
				display: none;
				&-main {
					width: 100%;
					margin-right: unset;
					.vlive-detail-relate {
						.item-live-highlight {
							&__image {
								.image {
									height: 130px;
								}
							}
							&__info {
								&-name {
									.name {
										font-size: 12px;
										line-height: 16px;
										-webkit-line-clamp: 2;
									}
								}
								&-other {
									display: none;
								}
							}
						}
					}
					.vlive-detail-replay {
						&__title {
							.title {
								span {
									font-size: 16px;
								}
							}
						}
						&__lists {
							.item-live-replay {
								margin-top: 12px;
								&__image {
									.image {
										height: 130px;
									}
								}
								&__info {
									margin-top: 8px;
									&-name {
										.name {
											font-size: 12px;
											line-height: 16px;
										}
									}
									&-other {
										margin-top: 4px;
										.avatar,.name-user {
											display: none;
										}
										.created-at {
											margin-left: unset;
											span {
												font-size: 12px;
											}
											&:before {
												display: none;
											}
										}
									}
								}
								&__like,&__time {
									top: 70px;
									img {
										width: 12px;
										height: 12px;
									}
									span {
										font-size: 12px;
									}
								}
							}
						}
					}
				}
				&-sitebar {
					width: 100%;
					display: none;
				}
			}
		}
	}
}
@media only screen and (min-width: 0px) and (max-width: 767px) 
{
	.vlive {
		&-category {
			&__main {
				width: 100%;
				margin-right: unset;
				.vlive-highlight {
					.item-live-highlight {
						width: calc((100% - 10px)/2);
						margin-top: 10px;
						&__image {
							.image {
								height: 98px;
							}
						}
						&__info {
							margin-top: 8px;
							&-name {
								.name {
									font-size: 12px;
								}
							}
							&-other {
								margin-top: 5px;
								.avatar,.name-user {
									display: none;
								}
								.created-at {
									display: block;
									margin-left: unset;
									&:before {
										display: none;
									}
									span {
										font-size: 12px;
									}
								}
							}
						}
						&:nth-child(3n+2) {
							margin-right: unset;
							margin-left: unset;
						}
						&:nth-child(2n+2) {
							margin-right: 10px;
						}
						&:first-child {
							width: 100%;
							.item-live-highlight {
								&__image {
									.image {
										height: 202px;
									}
								}
								&__info {
									&-name {
										.name {
											font-size: 16px;
											line-height: 24px;
										}
									}
									&-other {
										display: none;
									}
									&-number {
										display: flex;
									}
								}
							}
						}
					}
				}
				.vlive-replay {
					&__lists {
						.item-live-replay {
							width: calc((100% - 10px)/2);
							margin-bottom: 8px;
							&__image {
								.image {
									height: 98px;
								}
							}
							&__like,&__time {
								top: 72px;
								padding: 2px 4px;
								span {
									font-size: 12px;
								}
							}
							&__info {
								margin-top: 8px;
								&-name {
									.name {
										font-size: 12px;
										line-height: 16px;
									}
								}
								&-other {
									flex-wrap: wrap;
									margin-top: 5px;
									.avatar {
										order: 1;
										position: relative;
										top: 3px;
									}
									.name-user {
										width: calc(100% - 24px - 5px);
										order: 2;
										span {
											font-size: 12px;
										}
									}
									.created-at {
										order: 3;
										width: 100%;
										margin-left: unset;
										padding-left: 29px;
										position: relative;
										top: -6px;
										&:before {
											display: none;
										}
										span {
											font-size: 11px;
										}
									}
								}
								
							}
							&:nth-child(3n+2) {
								margin-right: unset;
								margin-left: unset;
							}
							&:nth-child(2n+2) {
								margin-left: 10px;
							}
						}
					}
					&__paginate {
						a {
							font-size: 14px;
						}
					}
				}
			}
			&__sitebar {
				width: 100%;
				margin-top: 30px;
				.content-sitebar {
					.page-facebook,.ads-banner {
						display: none;
					}
				}
			}
		}
		&-detail {
			&__content {
				&-detail {
					.video-live {
						width: 100%;
						margin-right: unset;
						&__show {

						}
						&__action {
							display: flex;
						}
						&__info {
							display: none;
							&-name {
								order: 2;
								margin-top: 12px;
								.name {
									font-size: 20px;
									line-height: 28px;
								}
							}
							&-live {
								order: 1;
								margin-top: 10px;
								.user-register {

								}
								.views-time {
									display: none;
								}
							}
							&-desc {
								order: 3;
								p {
									font-size: 14px;
									-webkit-line-clamp: unset;
								}
							}
						}
					}
					.chat-live {
						display: none;
						width: 100%;
						margin-top: 20px;
					}
				}
			}
			&__lists {
				display: none;
				&-main {
					width: 100%;
					margin-right: unset;
					.vlive-detail-relate {
						.item-live-highlight {
							width: calc((100% - 10px)/2);
							margin-right: unset;
							&:nth-child(2n+2) {
								margin-left: 10px;
							}
							&__image {
								.image {
									height: 98px;
								}
							}
							&__info {
								&-name {
									.name {
										font-size: 12px;
										line-height: 16px;
										-webkit-line-clamp: 2;
									}
								}
								&-other {
									display: none;
								}
							}
						}
					}
					.vlive-detail-replay {
						&__title {
							display: none;
						}
						&__lists {
							.item-live-replay {
								width: calc((100% - 10px)/2);
								margin-right: unset;
								margin-top: 12px;
								&:nth-child(2n+2) {
									margin-left: 10px;
								}
								&__image {
									.image {
										height: 98px;
									}
								}
								&__info {
									margin-top: 8px;
									&-name {
										.name {
											font-size: 12px;
											line-height: 16px;
										}
									}
									&-other {
										margin-top: 4px;
										.avatar,.name-user {
											display: none;
										}
										.created-at {
											margin-left: unset;
											span {
												font-size: 12px;
											}
											&:before {
												display: none;
											}
										}
									}
								}
								&__like,&__time {
									top: 70px;
									img {
										width: 12px;
										height: 12px;
									}
									span {
										font-size: 12px;
									}
								}
							}
						}
					}
				}
				&-sitebar {
					width: 100%;
					display: none;
				}
			}
		}
	}
}