@media only screen and (min-width: 1200px) and (max-width: 1460px)
{

}
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
	.vvideo-detail {
		&__content {
			&-main {
				width: calc(100% - 20px - 280px);
				margin-right: 20px;
				.video-name {
					.name {
						font-size: 30px;
					}
				}
			}
			&-lists {
				width: 280px;
				.lists-video {
					.item-vlight {
						&__image {
							.image {
								height: 160px;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	.vvideo {
		&-detail {
			&__content {
				&-main {
					width: 100%;
					margin-right: unset;
					.video-name {
						.name {
							font-size: 28px;
						}
					}
				}
				&-lists {
					width: 100%;
					margin-top: 20px;
					.lists-video {
						.item-vlight {
							width: calc((100% - 20px)/2);
							float: left;
							&__image {
								.image {
									height: 200px;
								}
							}
							&:nth-child(2n+2) {
								margin-left: 20px;
							}
						}
					}
				}
			}
		}
		&-relate {
			&__lists {
				.item-vlight {
					width: calc((100% - 40px)/3);
					margin-right: unset;
					&:nth-child(3n+2) {
						margin-right: 20px;
						margin-left: 20px;
					}
				}
			}
		}
		&-update {
			&__lists {
				.item-vlight {
					width: calc((100% - 40px)/3);
					margin-right: unset;
					&:nth-child(3n+2) {
						margin-right: 20px;
						margin-left: 20px;
					}
				}
			}
		}
	}
	.comment-popup {
		height: calc(100vh - 60px);
		max-height: calc(100vh - 60px);
		// padding: 20px 0;
	}
}
@media only screen and (min-width: 0px) and (max-width: 767px) 
{
	.vvideo {
		&-detail {
			padding-top: 10px;
			&__content {
				&-main {
					width: 100%;
					margin-right: unset;
					.video-name {
						.name {
							font-size: 18px;
							line-height: 28px;
						}
					}
					.video-other {
						margin-top: 15px;
						&__viewcomment {
							.views-video,.comment-video {
								span {
									font-size: 12px;
									position: relative;
									top: 2px;
								}
							}
						}
						&__time {
							span {
								font-size: 12px;
							}
						}
					}
					.video-desc {
						margin-top: 15px;
						p {
							font-size: 14px;
						}
					}
				}
				&-lists {
					width: 100%;
					margin-top: 20px;
					.lists-video {
						max-height: unset;
						padding-right: unset;
						clear: both;
						display: flex;
				        white-space: nowrap;
				        overflow: hidden;
				        overflow-x: scroll !important;
				        -webkit-overflow-scrolling: touch;
				        -ms-scroll-chaining: chained;
				        flex-wrap: nowrap;
				        &::-webkit-scrollbar {
					    	display: none;
					    }
						.item-vlight {
							width: 300px;
							margin-right: 10px;
							position: relative;
							&:last-child {
								margin-right: unset;
							}
							&__image {
								width: 300px;
								.image {
									height: 168px;
								}
							}
							&__info {
								position: absolute;
								width: 100%;
								left: 0;
								bottom: 0;
								padding: 10px;
								background: linear-gradient(to top, rgba(0, 0, 0, .9),rgba(0, 0, 0, .1));
								&-name {
									white-space: normal;
									.name {
										font-size: 12px;
										line-height: 16px;
										display: -webkit-box;
									    -webkit-box-orient: vertical;
									    -webkit-line-clamp: 2;
									    overflow: hidden;
									}
								}
								&-time {
									top: -33px;
								}
							}
						}
					}
				}
			}
		}
		&-relate {
			&__lists {
				.item-vlight {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					margin-right: unset;
					&__image {
						width: 120px;
						order: 1;
						.image {
							height: 68px;
						}
						.icon-play {
							width: 20px;
							height: 20px;
						}
					}
					&__info {
						width: calc(100% - 120px);
						order: 2;
						padding-left: 8px;
						margin-top: unset;
						&-name {
							.name {
								font-size: 14px;
								line-height: 20px;
							}
						}
						&-time {
							right: 100%;
							top: 45px;
							span {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
		&-update {
			&__lists {
				.item-vlight {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					margin-right: unset;
					&__image {
						width: 120px;
						order: 1;
						.image {
							height: 68px;
						}
						.icon-play {
							width: 20px;
							height: 20px;
						}
					}
					&__info {
						width: calc(100% - 120px);
						order: 2;
						padding-left: 8px;
						margin-top: unset;
						&-name {
							.name {
								font-size: 14px;
								line-height: 20px;
							}
						}
						&-time {
							right: 100%;
							top: 45px;
							span {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
	.comment-popup {
		width: calc(100%);
		height: calc(100vh - 315px);
		max-height: calc(100vh - 315px);
		top: 315px;
		padding: 20px 0;
	}
}