@font-face{
    font-family:"Montserrat-Bold";
    font-weight:700;
    font-style:normal;
    src:url("../fonts/Montserrat/Montserrat-Bold.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("opentype"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("opentype");
    font-display:swap
}
@font-face{
    font-family:"Montserrat-SemiBold";
    font-weight:600;
    font-style:normal;
    src:url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("opentype"),
    url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("opentype");
    font-display:swap
}
@font-face{
    font-family:"Montserrat-Medium";
    font-weight:500;
    font-style:normal;
    src:url("../fonts/Montserrat/Montserrat-Medium.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-Medium.ttf") format("opentype"),
    url("../fonts/Montserrat/Montserrat-Medium.ttf") format("opentype");
    font-display:swap
}
@font-face{
    font-family:"Montserrat-Regular";
    font-weight:500;
    font-style:normal;
    src:url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("opentype"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("opentype");
    font-display:swap
}
@font-face{
    font-family:"Montserrat-Light";
    font-weight:300;
    font-style:normal;
    src:url("../fonts/Montserrat/Montserrat-Light.ttf") format("ttf"),
    url("../fonts/Montserrat/Montserrat-Light.ttf") format("opentype"),
    url("../fonts/Montserrat/Montserrat-Light.ttf") format("opentype");
    font-display:swap
}
@font-face{
    font-family:"NotoSerif-Bold";
    font-weight:700;
    font-style:normal;
    src:url("../fonts/NotoSerif/NotoSerif-SemiBold.ttf") format("ttf"),
    url("../fonts/NotoSerif/NotoSerif-SemiBold.ttf") format("opentype"),
    url("../fonts/NotoSerif/NotoSerif-SemiBold.ttf") format("opentype");
    font-display:swap
}
@font-face{
    font-family:"NotoSerif-Medium";
    font-weight:600;
    font-style:normal;
    src:url("../fonts/NotoSerif/NotoSerif-Medium.ttf") format("ttf"),
    url("../fonts/NotoSerif/NotoSerif-Medium.ttf") format("opentype"),
    url("../fonts/NotoSerif/NotoSerif-Medium.ttf") format("opentype");
    font-display:swap
}